[submodule "external/QSingleInstanceCheck"]
	path = external/QSingleInstanceCheck
	url = https://github.com/MrEricSir/QSingleInstanceCheck.git
[submodule "external/QSimpleStateMachine"]
	path = external/QSimpleStateMachine
	url = https://github.com/MrEricSir/QSimpleStateMachine.git
[submodule "external/QMLRearrangeableTreeView"]
	path = external/QMLRearrangeableTreeView
	url = https://github.com/MrEricSir/QMLRearrangeableTreeView.git
