[submodule "external/QSingleInstanceCheck"]
	path = external/QSingleInstanceCheck
	url = https://github.com/MrEricSir/QSingleInstanceCheck.git
[submodule "external/QSimpleStateMachine"]
	path = external/QSimpleStateMachine
	url = https://github.com/MrEricSir/QSimpleStateMachine.git
[submodule "external/QMLRearrangeableTreeView"]
	path = external/QMLRearrangeableTreeView
	url = https://github.com/MrEricSir/QMLRearrangeableTreeView.git
[submodule "external/QAutoStart"]
	path = external/QAutoStart
	url = https://github.com/MrEricSir/QAutoStart.git
[submodule "external/QImageCache"]
	path = external/QImageCache
	url = https://github.com/MrEricSir/QImageCache.git
[submodule "external/QObjectLeakTracker"]
	path = external/QObjectLeakTracker
	url = https://github.com/MrEricSir/QObjectLeakTracker.git
[submodule "external/QWebDownload"]
        path = external/QWebDownload
        url = https://github.com/MrEricSir/QWebDownload.git
[submodule "external/QTidyLibClassic"]
	path = external/QTidyLibClassic
	url = https://github.com/MrEricSir/QTidyLibClassic.git
