[Desktop Entry]
Type=Application
Name=Fang
Comment=Feed on news - RSS/Atom newsreader
Exec=Fang
Icon=com.mrericsir.Fang
Categories=Network;News;
MimeType=x-scheme-handler/feed;x-scheme-handler/feeds;
Terminal=false
